{% extends 'base/base.html' %}

{% block content %}

<h3>Properties</h3>

<table class="table table-hover">
  <thead>
    <th>No</th>
    <th>MLS</th>
    <th>Address</th>
    <th>Price</th>
    <th>Added</th>
    <th>Memo</th>
    <th>View?</th>
  </thead>

  <tbody>
    {% for house in houses %}
    <tr>
	  <td>{{ loop.index }}</td>
      <td><a class='houselink' href='/show/{{ house.id }}' target='_blank'>{{ house.id }}</a></td>
      <td><a class='houselink' href='/show/{{ house.id }}' target='_blank'>{{ house.address }}</a> (<a href='https://maps.google.ca/maps?q={{ house.address }}' target='_blank'>map</a>)</td>
      <td>{{ house.price }}</td>
      <td>{{ house.add_date|default('', True) }}</td>
      <td>{{ house.memo|default('', True) }}</td>
      <td>{% if house.want_view %}<i class='icon-ok'></i>{% endif %}</td>

    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

