{% extends 'base/base.html' %}

{% block content %}

{% if rejected %}
<div class="alert alert-error">You have rejected this property.</div>
{% endif %}

{% if wantview %}
<div class="alert alert-success">I want to view this property.</div>
{% endif %}

<div>
<p>Address: <a href="https://maps.google.ca/maps?q={{ house.address }}" target="_blank">{{ house.address }}</a></p>
<p>Memo:
<input type='hidden' id='house-id' value='{{ house.id }}' />
<textarea id="memo-input">{{ house.memo|default('',True) }}</textarea>
<button class="btn btn-primary" id="update-memo">Update</button>
</p>
<p>
{% if rejected %}
<button class="btn btn-primary restore" house_id={{ house.id }}>Restore</button>
{% else %}
<button class="btn btn-danger reject" house_id={{ house.id }}>Reject</button>
{% endif %}

{% if wantview %}
<button class="btn cancel-view" house_id={{ house.id }}>I don't want to view anymore</button>
{% else %}
<button class="btn btn-success want-view" house_id={{ house.id }}>I want to view it!</button>
{% endif %}
</p>
</div>

<hr>

{{ house.data|safe }}

{% endblock %}

{% block sidebar %}

{% for picture in house.pictures %}
<img src="http://www.torontomls.net{{ picture }}" />
{% endfor %}

{% endblock %}
